:root{
    --main: #FFFFFF;
    --bg-1: #003263;
    --bg-2: #77B5E6;
    --txt-1: #FFFFFF;
    --txt-2: #000000;
}
/*Toolbar*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--bg-1);
    font-family: 'Raleway', sans-serif;
}

.logo{
    color: var(--main);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25 px;
}

.navs{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navs li{
    list-style: none;
}

.navs a{
    color: var(--main);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14 px;
}


/*form box*/
.form{
    background-color: var(--bg-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.innerform{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
    border-color:#000000;
    padding: 12px;
    width: 60%;
}

.button{
    display: flex;
    background-color: var(--bg-1);
    color: var(--txt-1);
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    width: 60%;
    height: 15%;
}

.input {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 12px;
    font-family: 'Raleway', sans-serif;
    color:#000000;
   }

.logIn-header{
    text-align: center;
    color: var(--txt-1);
    background-color: var(--bg-1);
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 60%;  
    padding: 20px;
}